html {
  --color-background: rgb(13, 8, 30);
  --color-primary: rgb(74, 26, 218);
  --color-primary-active: rgb(51, 17, 151);
  --color-primary-disabled: rgb(209, 209, 211);
  --color-text: rgb(255, 255, 255);
  --color-text-label: rgb(50, 57, 71);
  --color-text-disabled: rgb(112, 112, 114);
  --color-ask: rgba(0, 106, 66, 1);
  --background-color-ask: rgba(0, 106, 66, 0.2);
  --color-bid: rgba(190, 5, 37, 1);
  --background-color-bid: rgba(190, 5, 37, 0.2);
}

.flex1 {
  flex: 1;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.label {
  color: var(--color-text-label);
}
.header {
  display: flex;
  align-items: center;
  border: 0.05rem solid rgb(23, 30, 40);
  width: calc(100% - 0.1rem - 1rem);
  padding: 0.5rem;
  flex-shrink: 0;
}
.header > .label {
  text-align: center;
}

.offers-header {
  padding: 0.2rem 3rem;
  border-width: 0.05rem 0;
  border-style: solid;
  border-color: rgb(23, 30, 40);
  width: calc(100% - 0.1rem - 6rem);
}
.offers-header > .label {
  text-align: end;
  text-transform: uppercase;
}

.offer {
  position: relative;
  padding: 0.2rem 3rem;
  width: calc(100% - 6rem);
}

.number {
  text-align: end;
  font-family: monospace;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.footer {
  flex-shrink: 0;
  display: flex;
  padding: 1rem 0;
}

.toggle {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 0.2rem;
}
.toggle:active {
  background-color: var(--color-primary-active);
}
.toggle:disabled {
  cursor: default;
  color: var(--color-text-disabled);
  background-color: var(--color-primary-disabled);
}

.offer-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#app {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

@media only screen and (orientation: landscape) {
  .portrait {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .header > .label {
    display: none;
  }

  .content > .label {
    margin: 0.3rem 0;
  }

  .offers-bid > .offers-header,
  .offers-ask > .offers-header {
    display: none;
  }
  .offers-bid {
    display: flex;
    flex-direction: column-reverse;
  }
  .offers-ask > .offer {
    flex-direction: row-reverse;
  }
  .offers-ask > .offer > .offer-background {
    transform: rotateZ(180deg);
  }
}
